.navbar{
    background:linear-gradient(90deg,#70d467 0,#6fbbfa);
    position:fixed;
    top: 0;
    z-index: 1000;
    right: 0;
    left:0;
}
p {
    font-family: cursive;
    top:3000px;
}
.a{
    width: 90px;
    height: 100px;
}
.padre {
    display: flex;
    justify-content: center;
    align-items: center;
 }