<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
      <ul class="navbar-nav mr-auto">

          
          <li><img class="a" src="\assets\Ivan.jpg"></li>
          <li class="padre"><p class="align-middle">Panaderia Don Ivan </p></li>
      </ul>
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav mr-auto">
      </ul>
        
      <app-carrito></app-carrito>
      <app-login></app-login>
    </div>
  </nav>