<div class="form-inline my-2 my-lg-0">
    <ul class="nav">
      <li class="cabeza"><button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img src="https://img.icons8.com/android/24/000000/shopping-cart.png"></button>
        <ul class="a">
            <li><div class="contenido" ng-controller="CtrlLogin" >
                <h3>Carrito de compras</h3>
                <hr/>
        
                <form name="formLogin" novalidate >
                </form>
                <hr/>
                <h5>Total: {{precio}}</h5>
                {{mensaje}}
            </div> </li>
        </ul>
      </li>
     
    </ul>
  </div>