<div class="row show-grid">
  <div class="col-md-8 centrar">
    <img src="assets/img/01-8.jpg" class="marco">
  </div>
  <div class="col-md-4 columna">
    <h4>Pan Ayuya</h4>
    <h4>Precio:</h4>
    <label></label>
    <div>
      <button class="tamañoboton">-</button>
      <label class="caja">1</label>
      <button class="tamañoboton">+</button>
      
    </div>
    <button><img/>Agregar</button>
  </div>
</div>
<h1 class="product-description-title">Descripcion</h1>
<hr >
<div>
  <h4>La info</h4>
</div>