
.tamaño{
    height: 300px;
    margin-left: 0;
    margin-right: 0; 
}
@media screen and (max-width: 560px) {
    .tamaño{
        height: 300px;
        margin-left: 0;
        margin-right: 0; 
    }
}