
.tamaño{
    height: 300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
}
@media screen and (max-width: 560px) {
    .tamaño{
        height: 300px;
        width: 100%;
        margin-left: 0;
        margin-right: 0; 
    }
}