<header>
  <div class="row">
      <div class="col-md-12" style="background-color: blue" >Left column ljdkjksjdksjdksjdkjskdjskjd</div>

    </div> 
</header>


<section class="container-fluid h-100">
  

    <div class="row flex-grow-1" style="display: flex;height:300px">
 
       <div class="col-md-4 flex-grow-1">
        
          <img src="assets/img/pan-marraqueta-1-FP.jpg" style="display: block; margin-left: auto;margin-right: auto; width: 35%; height:150px; text-align: center">
 

          <h4>Pan frances</h4>
          <h4>Precio: $200 c/u</h4>
          <img src="assets/img/combo-box-hi4.png" style="display: block; margin-left: left;margin-right: right; width: 20%; height:30px; text-align: center"> 
          
        </div>

       <div class="col-md-4"> 
        <img src="assets/img/01-8.jpg" style="display: block; margin-left: auto;margin-right: auto; margin-top: auto; margin-bottom: auto; width: 35%; height:150px">
        
          <h4>Pan hayuya</h4>
          <h4>Precio: $300 c/u</h4>
          <img src="assets/img/combo-box-hi4.png" style="display: block; margin-left: left;margin-right: right; width: 20%; height:30px; text-align: center">
        </div>

       <div class="col-md-4">
        
        <img src="assets/img/receta-de-pan-tipo-baguette.jpg" style="display: block; margin-left: auto;margin-right: auto; margin-top: auto; margin-bottom: auto; width: 35%; height:150px">

          <h4>Pan baguete</h4>
          <h4>Precio: $800 c/u</h4>
          <img src="assets/img/combo-box-hi4.png" style="display: block; margin-left: left;margin-right: right; width: 20%; height:30px; text-align: center">
      </div> 
    

</div>
</section>


<footer></footer>