<div class="Contenedor">
  <ul class="general">
      <li class="Img">
        <img src="assets/img/01-8.jpg" class="Imagen-Producto" >
      </li>
      <li class="Cuerpo-Producto">
          <ul class="sinmarco">
              <li><p class="text">Nombre: {{Nombre}}</p></li>
              <li><p>Precio: {{Precio}} c/u</p></li>
          </ul>
      </li>
      <li class="bottones">
          <div><img src="https://img.icons8.com/ios/24/000000/minus-filled.png"><label class="caja">1</label><img src="https://img.icons8.com/ios/24/000000/plus-filled.png"></div>
          <button>Agregar</button>
      </li>
   </ul>
</div>
