<div class="Contenedor">
  <div class="Img">
    <img src="assets/img/01-8.jpg" class="Imagen-Producto"  routerLink="articulo" >
  </div>
  <ul class="general">
      <li class="Cuerpo-Producto">
          <ul class="sinmarco datos">
              <li><p class="text">Nombre: {{Nombre}}</p></li>
              <li><p class="text">Precio: {{Precio}} c/u</p></li>
          </ul>
      </li>
      <li class="bottones">
            <div>
              <button class="tamañoboton">-</button>
              <label class="caja">1</label>
              <button class="tamañoboton">+</button>
            </div>
          <button><img/>Agregar</button>
      </li>
   </ul>
</div>
